.app__destination {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 1.5rem;
  &__bg {
    position: fixed;
    min-height: 100vh;
    inset: 0;
    background-image: url("../assets/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &__planet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-text {
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      span {
        font-weight: 700;
        opacity: 0.2;
        margin-right: 0.5rem;
      }
    }
    img {
      width: 170px;
      height: 170px;
    }
  }
  &__img {
    margin-top: 2rem;
  }

  &__info {
    margin-top: 1.6rem;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      color: #d0d6f9;
      text-transform: uppercase;
      margin: 0 0.7rem;
      letter-spacing: 0.2rem;
      cursor: pointer;
    }
    .activeplanet {
      border-bottom: 2px solid white;
    }
  }
  &__head {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $bellefair;
  }
  &__text {
    color: #d0d6f9;
    font-weight: 100;
    font-size: 1.1rem;
    padding-bottom: 2rem;
    width: 85%;
    margin: 0 auto;
  }
  hr {
    width: 90%;
    opacity: 0.1;
    margin: 0 auto;
  }
  &__travel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
  }
  &__distance,
  &__time {
    text-transform: uppercase;
    color: white;
    &-text {
      color: #d0d6f9;
      letter-spacing: 0.2rem;
    }
    &-duration {
      font-family: $bellefair;
      font-size: 2rem;
    }
  }
}

@media (min-width: 767px) {
  .app__destination {
    &__bg {
      background-image: url("../assets/destination/background-destination-tablet.jpg");
    }
    &__planet {
      margin-top: 2.5rem;
      align-items: flex-start;
      width: 100%;
    }
    &__text-cont {
      text-align: left;
    }
    &__img {
      margin: 0 auto;
      margin-top: 1.5rem;
      img {
        width: 300px;
        height: 300px;
      }
    }
    &__list {
      font-size: 1.1rem;
      li {
        letter-spacing: 0.4rem;
      }
    }
    &__head {
      font-size: 5rem;
    }
    &__text {
      font-size: 1.4rem;
    }
    &__travel {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media (min-width: 1150px) {
  .app__destination {
    justify-content: space-between;
    flex-direction: row;
    max-width: 1440px;
    height: 700px;
    &__list {
      li:first-child {
        margin-left: 0;
      }
    }
    &__bg {
      background-image: url("../assets/destination/background-destination-desktop.jpg");
    }
    &__planet {
      margin-top: 0;
      align-items: center;
      gap: 4rem;
    }
    &__text-cont {
      width: 70%;
      font-size: 2rem;
      align-items: flex-start;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 4rem;
      width: 1000px;
    }
    &__img {
      margin: 0;
      img {
        width: 445px;
        height: 445px;
      }
    }
    &__head {
      font-size: 8rem;
    }
    &__text {
      text-align: left;
      margin: 0;
      width: 70%;
    }
    hr {
      width: 70%;
      margin: 0;
    }
    &__travel {
      text-align: left;
      gap: 4rem;
    }
  }
}
@media (min-width: 1900px) {
  .app__destination {
    margin: 0 auto;
    &__img {
      img {
        width: 500px;
        height: 500px;
      }
    }
  }
}
